.counter {

    background: grey;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 200px;


}

.counterVal {
    padding-top: 50px;
    background-color: darkseagreen;
    padding-bottom: 50px;
}

.calculate {
    padding-top: 50px;
    display: block;
    display: inline-flex;
}

.calculate button {
    margin-right: 10px;
    display: inline-block;
    height: 30px;
    width: 80px;
}

title {
    margin-bottom: 10px;
}